In [1]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('../../mismatch_db.db')

In [2]:
mismatch = pd.read_sql_query("""
SELECT * 
FROM mismatch
JOIN mismatch_flag  ON mismatch.mismatch_ID = mismatch_flag.mismatch_ID
""", conn)
mismatch = mismatch.astype({"exon_start_prim": "Int64", "exon_stop_prim":"Int64", "exon_start_hum": "Int64", "exon_stop_hum":"Int64"})

In [3]:
mismatch_blasta = pd.read_sql_query("""
SELECT mismatch.*, mismatch_flag.*, tblastn_match.mismatch_ID
FROM mismatch
JOIN mismatch_flag  ON mismatch.mismatch_ID = mismatch_flag.mismatch_ID
JOIN tblastn_match ON mismatch.mismatch_ID = tblastn_match.mismatch_ID
""", conn)
mismatch_blast = mismatch.astype({"exon_start_prim": "Int64", "exon_stop_prim":"Int64", "exon_start_hum": "Int64", "exon_stop_hum":"Int64"})

In [26]:
mismatch.to_csv("../../temp/mismatch_and_flag_full.csv", sep="\t", index=False)
mismatch_blasta.to_csv("../../temp/mismatch_and_flag_tblastn.csv", sep="\t", index=False)

In [3]:
tblastn = pd.read_sql_query("""
SELECT * FROM tblastn_match
""", conn)
tblastn

,mismatch_ID,prot_ID_hum,prot_ID_prim,peptide_hum,seq_in_prim,start_genom,stop_genom,e_value
0,2,A0A044PY82,G3QIT3,PSEAQRAEVQGQHPPPGPKTSSSRS,PTEAQRAEVQGQHPPPGPKTSSSRS,633,707,8.640000e-14
1,3,A0A075B6I0,A0A0D9RMQ9,GVPDRFSGSILGNKAALTITGAQADDESDYYCVLY,GSLNRFSGSILGNKAALTITGAQADDESDYYCTLY,501,605,3.220000e-20
2,5,A0A075B6K2,H0XPV0,RITCGGNNIGSK,RITCGGNNIGRK,4121,4156,6.760000e-05
3,6,A0A075B6K5,H0XPV0,RITCGGNNIGSK,RITCGGNNIGRK,4121,4156,6.760000e-05
4,12,A0A075B6P5,F7HD17,MRLPAQLLGLLMLWV,MRLPAQVLGLLMLWV,3087,3131,3.900000e-07
...,...,...,...,...,...,...,...,...
3271,18994,Q6UXS0,A0A096N6T4,HDHRQVRKQWPLGPLGSSSQ,HDHRQVRKQWPLGPLGSSNQ,17758,17817,1.150000e-10
3272,18995,Q6UXS0,G3RDQ5,HDHRQVRKQWPLGPLGSSSQ,HDHRQVRKQWPLGRLGSSSQ,18296,18355,8.300000e-10
3273,18996,Q6UXS0,H2NQ97,HDHRQVRKQWPLGPLGSSSQ,HDHRQVRKQWPLGPLGSSNQ,18664,18723,1.180000e-10
3274,19003,Q6UXS9,F6W5E0,VQHSFETPNILTQLPTIERLSMTRYFYL,VQRSFETPNVVTQLPTIERLSMTRYFYL,14717,14800,8.220000e-15
3275,19009,Q6UXU4,F7ILG0,GLLGMVAHMMYTQVFQVTVSLGPEDWRPHSWDYGWSF,GLLGMVAHMMYSQVFQATANLGPEDWRPHVWNYGWAF,8172,8282,2.620000e-19

In [4]:
tblastn.to_csv("../../temp/flag/tblastn_results.csv", sep="\t", index=False)