In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('../../mismatch_db.db')

In [ ]:
mismatch = pd.read_sql_query("""
SELECT * 
FROM mismatch
JOIN mismatch_flag  ON mismatch.mismatch_ID = mismatch_flag.mismatch_ID
""", conn)
mismatch = mismatch.astype({"exon_start_prim": "Int64", "exon_stop_prim":"Int64", "exon_start_hum": "Int64", "exon_stop_hum":"Int64"})

In [ ]:
mismatch = pd.read_sql_query("""
SELECT * 
FROM mismatch
JOIN mismatch_flag  ON mismatch.mismatch_ID = mismatch_flag.mismatch_ID
""", conn)
mismatch = mismatch.astype({"exon_start_prim": "Int64", "exon_stop_prim":"Int64", "exon_start_hum": "Int64", "exon_stop_hum":"Int64"})

In [ ]:
mismatch_blasta = pd.read_sql_query("""
SELECT mismatch.*, mismatch_flag.*, tblastn_match.mismatch_ID
FROM mismatch
JOIN mismatch_flag  ON mismatch.mismatch_ID = mismatch_flag.mismatch_ID
JOIN tblastn_match ON mismatch.mismatch_ID = tblastn_match.mismatch_ID
""", conn)

In [ ]:
mismatch

In [ ]:
mismatch.to_csv("../../temp/mismatch_and_flag_full.csv", sep="\t", index=False)
mismatch_blasta.to_csv("../../temp/mismatch_and_flag_tblastn.csv", sep="\t", index=False)

In [ ]:
tblastn = pd.read_sql_query("""
SELECT * FROM tblastn_match
""", conn)
tblastn.to_csv("../../temp/tblastn_results.csv", sep="\t", index=False)

In [ ]:
tblastn.to_csv("../../temp/flag/tblastn_results.csv", sep="\t", index=False)